@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

input[type="text"],
input[type="search"] {
  @apply border-gray-400;
  @apply border;
  @apply px-4;
  @apply py-2;
  @apply rounded-lg;
}

button {
  @apply bg-red-800;
  @apply py-4;
  @apply px-2;
  @apply text-white;
  @apply font-bold;
  @apply rounded-lg;
}
